:root {
  --animation-time: 600ms;
  --primary-bg: #392759;
  --bars: #524ffc;
  --text: #2e4388;
  --text2: #e8f0ff;
  --secondary: #f7accf;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: var(--primary-bg);
}
.heading {
  text-align: center;
  font-size: xx-large;
  color: var(--text2);
  padding: 8px;
  margin: 8px;
}
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  /* place-items: center; */
  margin: 12px auto;
  width: 90%;
  height: 32vh;
  /* background-color: red; */
}
.root-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--text);
  width: 100%;
  height: 80%;
  border-radius: 8px;
}
@media screen and (min-width: 1600px) {
  .root-inner {
    width: 70%;
    height: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .root {
    width: 98%;
  }
  .root-inner {
    overflow: scroll;
  }
}
.bar {
  position: absolute;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--bars);
  transition: all var(--animation-time) ease-in-out;
  text-align: center;
  color: #fff;
  font-size: small;
  font-weight: 600;
  margin: 4px;
  min-width: 40px;
}

.controls {
  display: flex;
  padding: 12px;
  height: 60px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bars);
}

#select-algo {
  font-weight: 600;
  padding: 8px;
  color: var(--text2);
  background-color: var(--text);
  font-size: 1.2em;
  outline: none;
  border: none;
  border-radius: 4px;
}

.timing-btn,
.timing-text,
.random-btn,
.play-btn,
.speed-btn {
  color: var(--text2);
  background-color: var(--text);
  padding: 8px;
  font-size: 1.2em;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
